<h3>Raster</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Collection<br>ID</th>
            <th scope="col">Time</th>
            <th scope="col">Sweep<br>start</th>
            <th scope="col">Sweep<br>end</th>
            <th scope="col">Image<br>width</th>
            <th scope="col">Exposure<br>time</th>
            <th scope="col">Detector<br>distance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ raster_data.uid }}</td>
            <td>{{ raster_data.request_time }}</td>
            <td>{{ raster_data.request_def.sweep_start }}</td>
            <td>{{ raster_data.request_def.sweep_end }}</td>
            <td>{{ raster_data.request_def.img_width }}</td>
            <td>{{ raster_data.request_def.exposure_time }}</td>
            <td>{{ raster_data.request_def.det_dist }}</td>
        </tr>
    </tbody>
</table>

<div class="image-container">
    <div class="plot">
        <h2>Raster Heatmap</h2>
        <img src="data:image/png;base64,{{ raster_data.result.plot_image }}" alt="Heatmap Image">
    </div>
    <div class="jpeg-image">
        <h2>Sample Image</h2>
        <img src="data:image/jpeg;base64,{{ raster_data.result.jpeg_image }}" alt="JPEG Image">
    </div>
</div>

<div class="image-container">
    <div class="plot">
        <img src="data:image/png;base64, {{ raster_data.result.top_frames }}">
    </div>
</div>
<div class="image-container">
    <div class="plot">
        <img src="data:image/png;base64, {{ raster_data.result.hist_resolutions }}">
    </div>

    <div class="plot">
        <img src="data:image/png;base64, {{ raster_data.result.hist_mean_neighbor_dist }}">
    </div>

    <div class="plot">
        <img src="data:image/png;base64, {{ raster_data.result.hist_spot_count }}">
    </div>
</div>