<table class="table">
    <thead>
        <tr>
            <th scope="col">Collection<br>ID</th>
            <th scope="col">Time</th>
            <th scope="col">Sweep<br>start</th>
            <th scope="col">Sweep<br>end</th>
            <th scope="col">Image<br>width</th>
            <th scope="col">Exposure<br>time</th>
            <th scope="col">Detector<br>distance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ standard_data.uid }}</td>
            <td>{{ standard_data.result.result_time }}</td>
            <td>{{ standard_data.request_def.sweep_start }}</td>
            <td>{{ standard_data.request_def.sweep_end }}</td>
            <td>{{ standard_data.request_def.img_width }}</td>
            <td>{{ standard_data.request_def.exposure_time }}</td>
            <td>{{ standard_data.request_def.det_dist }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th colspan="6" class="vertical-divider">Overall</th>
            <th colspan="6" class="vertical-divider">Outer Shell</th>
            <th colspan="7"></th>
        </tr>
        <tr>
            {% for col_name in fastdp_column_names %}
            <th scope="col">{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for data in standard_data.result.fast_dp_row %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% if standard_data.result.diffraction_images %}
<div class="plot">
    <h2>Standard collection diffraction images</h2>
    <img src="data:image/png;base64,{{ standard_data.result.diffraction_images }}" alt="Diffraction Images">
</div>
{% endif %}
<hr class="my-2" style="border-top: 1px solid lightgray; width: 50%;">
{% for raster_id, raster_data in sample_data.rasters[standard_id].items() %}
{% include 'raster_template.html' %}
{% endfor %}
