<h4>Summary table</h4>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">#</th>
            <th colspan="6" class="vertical-divider">Overall</th>
            <th colspan="6" class="vertical-divider">Outer Shell</th>
            <th colspan="7"></th>
        </tr>
        <tr>
            <th>Puck</th>
            {% for col_name in fastdp_column_names %}
            <th scope="col">{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for puck_name, samples in puck_data.items() %}
        {% for sample_name in samples %}
        {% set outer_loop = loop %}
        {% for standard_id, standard_data in full_data[sample_name]['standard'].items() %}
        <tr>
            <td> {{ puck_name if outer_loop.index == 1 }} </td>
            {% if summary_table %}
            {% for data in standard_data.result.fast_dp_row %}
            <td>{{ data }}</td>
            {% endfor %}
            {% elif auto_proc_table %}
            {% for data in standard_data.result.auto_proc_row %}
            <td>{{ data }}</td>
            {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
