<h1>Vector</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Collection<br>ID</th>
            <th scope="col">Time</th>
            <th scope="col">Sweep<br>start</th>
            <th scope="col">Sweep<br>end</th>
            <th scope="col">Image<br>width</th>
            <th scope="col">Exposure<br>time</th>
            <th scope="col">Detector<br>distance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ vector_data.uid }}</td>
            <td>{{ vector_data.request_time }}</td>
            <td>{{ vector_data.request_def.sweep_start }}</td>
            <td>{{ vector_data.request_def.sweep_end }}</td>
            <td>{{ vector_data.request_def.img_width }}</td>
            <td>{{ vector_data.request_def.exposure_time }}</td>
            <td>{{ vector_data.request_def.detector_distance }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th colspan="6" class="vertical-divider">Overall</th>
            <th colspan="6" class="vertical-divider">Outer Shell</th>
            <th colspan="7"></th>
        </tr>
        <tr>
            {% for col_name in fastdp_column_names %}
            <th scope="col">{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for data in vector_data.result.fast_dp_row %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% if vector_data.result.diffraction_images %}
<div class="plot">
    <h2>Vector collection diffraction images</h2>
    <img src="data:image/png;base64,{{ vector_data.result.diffraction_images }}" alt="Diffraction Images">
</div>
{% endif %}
<hr class="my-2" style="border-top: 1px solid lightgray; width: 50%;">
